# vim: set colorcolumn=0:
# config.sample.env
#
# Copy this file as `config.env` and then change that;
# * avoids editing this version-controlled copy,
# * avoids storing real secrets in a potentially public repository.
#
# Helpful commands;
# * To encrypt:
#
#     openssl enc -a -aes-256-cbc -salt -pbkdf2 -in config.env -out config.env.enc
#
# * To decrypt:
#
#     openssl enc -a -d -aes-256-cbc -salt -pbkdf2 -in config.env.enc -out config.env

MOTD_URL='https://git.io/JvVWq'

SMTP_HOST='mail.example.com:587'
SMTP_PASS=''
SMTP_REWRITEDOMAIN='example.com'
SMTP_USER='noreply@example.com'

SWAPFILE='/swapfile'
SWAPPINESS=30
SWAPSIZE=2048

SYSADMIN='noreply@example.com'

TRUSTED_NETWORKS=()
TRUSTED_NETWORKS+=('127.0.0.0/8')
# ...

